<div class="footer">
  <footer>
    <div class="footer-content">
      <div class="footer-section">
        <h3>Sobre nós</h3>
        <p>
          A Vintcy é uma loja fictícia criada apenas para estudos e
          demonstração.
        </p>
      </div>

      <div class="footer-section">
        <h3>LGPD</h3>
        <p>
          Seus dados são tratados conforme as normas da Lei Geral de Proteção de
          Dados (LGPD). Nenhuma informação pessoal é compartilhada.
        </p>
      </div>
    </div>

    <div class="footer-bottom">
      © 2025 Vintcy — Todos os direitos reservados.
      <br />
      Membros da Vintcy: Flávia Borges, Gabriel Giovane, Maria Eduarda, Natália
      Gomes, Thiago Andrade, Thiago Gualberto
    </div>
  </footer>
</div>
