<header class="main-header">
  <!-- TOPBAR -->
  <section class="topbar">
    <p>FRETE GRÁTIS PARA TODO O BRASIL</p>
  </section>

  <!-- PARTE SUPERIOR DO HEADER -->
  <div class="header-content">
    <div class="left-section">
      <form class="predictive-search__form" id="searchForm">
        <i class="search-icon"></i>
        <input
          class="predictive-search__input"
          id="search-desktop"
          type="text"
          placeholder="O que você está buscando?"
          autocomplete="off"
        />
      </form>
    </div>

    <div class="top-center">
      <img src="assets/img/logo1.jpg" alt="VINTCY" class="site-logo" />
    </div>

    <div class="right-section">
      <div class="header-icon">
        <i class="icon-user"></i>
        <span>Conta</span>
      </div>

      <div class="header-icon">
        <i class="icon-heart"></i>
        <span>Favoritos</span>
      </div>

      <div class="header-cart">
        <svg
          focusable="false"
          width="20"
          height="18"
          class="icon icon--header-cart"
          viewBox="0 0 20 18"
        >
          <path
            d="M3 1h14l1 16H2L3 1z"
            fill="none"
            stroke="currentColor"
            stroke-width="1.3"
          ></path>
          <path
            d="M7 4v0a3 3 0 003 3v0a3 3 0 003-3v0"
            fill="none"
            stroke="currentColor"
            stroke-width="1.3"
          ></path>
        </svg>
        <span class="cart-count">0</span>
      </div>
    </div>
  </div>
  <nav class="nav-menu">
    <ul class="nav-list">
      <li class="nav-item">Início</li>

      <li class="nav-item dropdown">
        Calçados ▾
        <div class="dropdown-menu">
          <a href="#">Botas</a>
          <a href="#">Tênis</a>
          <a href="#">Sapatos</a>
          <a href="#">Mocassins</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        Vestuário ▾
        <div class="dropdown-menu">
          <a href="#">Camisetas</a>
          <a href="#">Camisas</a>
          <a href="#">Calças</a>
        </div>
      </li>

      <li class="nav-item">Acessórios</li>
      <li class="nav-item">Mochilas</li>
      <li class="nav-item">Contato</li>
      <li class="nav-item">Rastrear Pedido</li>
    </ul>
  </nav>
</header>
