<div class="categories">
  <div class="grid grid-cols-3 md:grid-cols-8 gap-4">
    <button class="categoria-btn" data-categoria="casual">Casual</button>
    <button class="categoria-btn" data-categoria="polos">Polos</button>
    <button class="categoria-btn" data-categoria="social">Social</button>
    <button class="categoria-btn" data-categoria="jaquetas">Jaquetas</button>
    <button class="categoria-btn" data-categoria="moletons">Moletons</button>
    <button class="categoria-btn" data-categoria="calças">Calças</button>
    <button class="categoria-btn" data-categoria="bermudas">Bermudas</button>
    <button class="categoria-btn" data-categoria="acessorios">
      Acessórios
    </button>
  </div>
</div>
